
.containts{
    background-color: #333;
    border: 2px solid #666;
    border-radius: 10px;
    text-align: left;
}
.calculetor h1{
    color: white;
}
.main-input .input{
    padding: 30px 25px;
    font-weight: bolder;
    text-align: right;
    font-size: var(--defalt-font-size);
    font-family: fantasy;
    letter-spacing: 5px;
    margin: 5px;pointer-events: none;
    width: 98%;
}
.input::selection{
    background: #ddd;
    color: black;
}

.all-btn{
    font-size: var(--defalt-font-size);
}
.all-btn .call-row{
    display: flex;
}input.btn {
    font-size: var(--defalt-font-size);
    width: 95px;
    background: var(--defalt-input-bg-color);
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.1s;
}input.btn:hover{
    background-color: var(--defalt-input-hover-bg-color);
}
.oparetor{
    background: var(--opareter-input-bg-color) !important;
}.oparetor:hover{
    background: var(--opareter-input-hover-bg-color) !important;
}
input{
    border: none;
}
.ecual{
    background: var(--calculete-input-bg-color) !important;
}.ecual:hover{
    background: var(--calculete-input-hover-bg-color) !important;
}